= form_for([@user, @user.comments.build]) do |f|
 %p
  = f.label :commenter
  %br/
  = f.text_field :commenter
 %p
  = f.label :comment
  %br/
  = f.text_area :body
 %p
  = f.submit 'Create Comment',class: "btn btn-primary"

