<h1></h1>
<%= link_to 'My Blog', controller: 'users' %>
<%= link_to 'New user', new_user_path_path %>

<table>

  <% @users.each do |user| %>
     <tr>
        <td><%= user.name %></td>
        <td><%= user.surname %></td>
        <td><%= user.text %></td>
      </tr>

  <% end %>

</table>