    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>
    <p>
      <strong>Surname</strong>
      <%= @user.surname %>
    </p>
    <p>
      <strong>E-mail</strong>
      <%= @user.e_mail %>
    </p>
    <p>
       <strong>Text:</strong>
       <%= @user.text %>
    </p>

    <h2>Comments</h2>
    <%= render @user.comments %>

    <h2>Add a comment:</h2>
    <%= render "comments/form" %>


    <%= link_to 'Back', users_path %>
    <%= link_to 'Edit', edit_user_path(@user) %>

